.contact_cards {
  border: solid rgb(100, 255, 218);
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  height: 140px;
}

.icon {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  width: 100px;
  margin: auto;
  margin-top: 10px;
  color: rgb(100, 255, 218);
}

.contact_card_header {
  font-weight: bold;
  margin: 5px;
  color: rgb(205, 215, 246);
}

.contact_card_header-social {
  margin-top: 15px;
  font-weight: bold;
  color: rgb(205, 215, 246);
}

.content {
  color: white;
}
